{% extends '%s/layouts/base.html' % module_name %}
{% import '%s/helpers/utils.html' as utils %}
{% set this_file = 'index' %}

{% block style_inc %}
    <link rel="stylesheet/less" type="text/css" href="{{ static_path }}/index.less" />
{% endblock %}

{% block script_inc %}
    <script type="text/javascript" src="{{ static_path }}/index.js"></script>
{% endblock %}

{% block header %}
    {% include '%s/layouts/%s/_header.html' % (module_name, this_file) %}
{% endblock %}


{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
